<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075143665059-c3l0klmaigugf3k3bebnkmkea1bssj22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075143665059-c3l0klmaigugf3k3bebnkmkea1bssj22</string>
	<key>API_KEY</key>
	<string>AIzaSyB-B35fGRU7EZ2QwxVtHNfGyHb_reuiPwc</string>
	<key>GCM_SENDER_ID</key>
	<string>1075143665059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixmavericks.hafizh</string>
	<key>PROJECT_ID</key>
	<string>hafizh-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>hafizh-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075143665059:ios:3a4f09d3c6125ca1096616</string>
</dict>
</plist>